.ourMenu{
    width: 100%;
    height: 56vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    background-color: var(--primaryLightBg);
    color: var(--primaryText);
}
.ourMenuTitle{
    font-size: 70px;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}
.ourMenuDesc{
    font-size: 20px;
    text-align: center;
}
.center2{
    margin-top: 30px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 70%;
}
.menuCatagories{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    flex-wrap: wrap;
}
.heading{
    font-size: 35px;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 40px 0;
}
.menuCatagoriesTitle{
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    display: block; 
}
.catagory{
        display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    margin: 20px 0;
    width: 100%;
    flex-wrap: wrap;
}
.menuItems{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    flex: 1;
    text-align: center;
    flex: 0 0 calc(25% - 20px);
    margin: 20px 0;
}
.name{
    font-size: 20px;
}
    @media only screen and (max-width: 1240px){
        .menuItems{
          flex: 0 0 calc(33.33% - 20px); 
          margin: 0; 
        }
        .name{
            font-size: 30px;
        }
        .desc{
            font-size: 20px;
        }
        .heading{
            font-size: 50px;
        }
        .menuCatagoriesTitle{
            font-size: 40px;
        }
    }
    @media only screen and (max-width: 869px){
        /* .menuItems{
          flex-basis:  calc(50% - 20px);  
        } */
        .name{
            font-size: 20px;
        }
        .desc{
            font-size: 12px;
        }
        .heading{
            font-size: 40px;
        }
        .menuCatagoriesTitle{
            font-size:30px;
        }
    }
@media only screen and (max-width: 1024px){
    .ourMenu{
        height: 60vh;
    }
    .ourMenuTitle{
        font-size: 90px;
        line-height: 1;
    }
    .ourMenuDesc{
        font-size: 30px;
    }
    .center2{
        width: 80%;
    }
    .center{
        width: 90%;
    }
}